<script>
    var phy = <%= @school.reports.where(type_of_bullying:"Physical").count %>;
    var emo = <%= @school.reports.where(type_of_bullying:"Emotional").count %>
</script>
<!-- TODO: Add graphs and nation school ranking -->
<div id="singleSchoolContainer" class="container">
<h1><%= @school.name %></h1>
    <dl class="dl-horizontal">
        <dt>Grades:</dt><dd> <%= @school.grades %> </dd>
        <dt>Address:</dt><dd><%= @school.address.html_safe %></dd>
        <dt>Phone:</dt><dd><%= @school.phone %></dd>
        <dt>National Ranking:</dt><dd> - coming soon - </dd>
        <dt>Physical Incidents:</dt><dd class="physicalBox leftIndent"><%= @school.reports.where(type_of_bullying:"Physical").count %></dd>
        <dt>Verbal Incidents:</dt><dd class="verbalBox leftIndent"><%= @school.reports.where(type_of_bullying:"Emotional").count %></dd>
        <dt>Types of Bullying:</dt><dd><canvas id="schoolChart" width="300" height="300"></canvas></dd>
    </dl>
</div>
<%= button_to "Report bullying", "#{@school.id}/reports/new", :class => "btn", :method => :get %>
