<script>
    var phy = <%= @school.reports.where(type_of_bullying:"physical").count %>;
    var verb = <%= @school.reports.where(type_of_bullying:"Verbal").count %>
    var online = <%= @school.reports.where(type_of_bullying:"online/cyber").count %>
    var oth = <%= @school.reports.where(type_of_bullying:"other").count %>
</script>
<!-- TODO: Add graphs and nation school ranking -->
<div id="singleSchoolContainer" class="container">
<h1><%= @school.name %></h1>
    <dl class="dl-horizontal">
        <dt>Grades:</dt><dd> <%= @school.grades %> </dd>
        <dt>Address:</dt><dd><%= @school.address.html_safe %></dd>
        <dt>Phone:</dt><dd><%= @school.phone %></dd>
        <dt>National Ranking:</dt><dd> - coming soon - </dd>
        <dt>Physical Incidents:</dt><dd class="physicalBox leftIndent"><%= @school.reports.where(type_of_bullying:"physical").count %></dd>
        <dt>Verbal Incidents:</dt><dd class="verbalBox leftIndent"><%= @school.reports.where(type_of_bullying:"verbal").count %></dd>
        <dt>Cyber Incidents:</dt><dd class="onlineBox leftIndent"><%= @school.reports.where(type_of_bullying:"online/cyber").count %></dd>
        <dt>Other Bullying Incidents:</dt><dd class="otherBox leftIndent"><%= @school.reports.where(type_of_bullying:"other").count %></dd>
        <dt>Types of Bullying:</dt><dd><canvas id="schoolChart" width="300" height="300"></canvas></dd>
    </dl>
</div>
<%= button_to "Report bullying at this school.", "#{@school.id}/reports/new", :class => "btn", :method => :get %>
